
<div class="wrapper">
  <div class="banner-index">
    <h1>Welcome to your lists!</h1>
    <h3 data-controller="typed"></h3>
  </div>


  <div class="container">
    <div class="lists-wrapper">
      <div class="lists-heading">
          <h3>My Lists</h3>
          <%= link_to "Create a movie list", new_list_path, class: "green-btn" %>
      </div>
      <div class="list-index-content">
        <% @lists.each do |list| %>
          <%= link_to list_path(list) do %>
            <div class="list-card-index">
              <%= cl_image_tag 'xezx5qrvpruwbrpep6vj', alt: 'image for list', class: 'img-list-cover' %>
              <div class="list-card-name">
                <%= list.name %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
