.banner-show {
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(asset_path('cinema'));
  background-size: cover;
  background-position: center;
  position: relative;

  h1 {
    color: white;
  }
}

.yellow-count {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: $yellow;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.movies-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
  padding: 10px 0;
}

.movies-heading {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  a {
    background-color: $success;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
  }
}

.movies-wrapper {
  padding: 50px 10%;
}


.add-movie-form {
  padding: 50px 0;
  width: 50%;
  margin: 0px auto;
}

.reviews-show {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5%;
  padding: 10px;
}

.reviews-list {
  flex-grow: 1;
}

.add-review-form {
  background: white;
  width: 45%;
  padding: 50px;
  border-radius: 5px;
}

.active-star {
  color: $yellow;
  display: inline;
}

.inactive-star {
  color: $yellow;
  display: inline;
}
