.movie-card-show {
  width: 500px;
  height: 450px;
  box-shadow: 0 0 10px lightgray;

  img {
    width: 100%;
    height: 55%;
    object-fit: cover;
    object-position: top;
  }


}

.movie-card-content {
  padding: 20px;
  background-color: white;
  height: 45%;
}

.movie-card-content-head {
  display: flex;
  align-items: center;
  height: 20%;
}

.movie-card-content-title {
  font-weight: bolder;
}

.movie-card-content-rating {
  color: #989EA4;
}

.movie-card-content-star {
  color: $yellow;
}

.movie-card-content-overview {
  color: #989EA4;
  font-size: 0.8rem;
  height: 60%;
  overflow: hidden;
}

.quote-and-delete {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  font-size: 0.8rem;
  font-weight: regular;
  height: 20%;

  i {
    font-size: 1.2rem;
  }

  a {
    color: $red;
    text-decoration: none;
  }
}

.quote {
  display: block;
}
